.container {
      width: 500px;
      min-height: 300px;
      background-color: yellow;
      border: 1px solid blue;
      display: flex;
}

.item {
      width: 75px;
      background-color: yellowgreen;
      border: 1px solid tomato;
}

.flex-start {
      justify-content: flex-start;
}

.flex-end {
      justify-content: flex-end;
}

.flex-center {
      justify-content: center;
}

.space-around {
      justify-content: space-around;
}

.space-between {
      justify-content: space-between;
}

.space-evenly {
      justify-content: space-evenly;
}